node_modules
dist
coverage
.devserver
.github
.idea
docs/.vitepress/cache
docs/.vitepress/dist
*.log
stats.html
proxy.custom.ts
auto-imports.d.ts
components.d.ts
typed-router.d.ts
.env
.env.*
!.env.example
!.env.development
!.env.staging
!.env.production
